#root {
  text-align: center;
}

.product-card {  
  padding: 16px; 
  margin: 8px 0; 
  background-color: #fff;
  border:2px solid #fff;
  box-shadow: 0.5px 0.5px 1px 1px #0a192f;
}  
.product-card {  
  max-height: 420px;
  position: relative; 
}  

.product-card img {  
  height: 50%; 
}  
.product-card:hover{
  transform: scale(1.05);
  transition: transform 0.5s;
}
 .product-card:hover img{
  height: 55%;
}
.add-cart-btn{
  background-color: rgb(209, 18, 209);
  border-radius: 8px;
  padding:5px;
  width:50%;
  margin: 10px auto;
}
.add-cart-btn:hover{
  background-color: #fff;
  color:rgb(209,18,209);
  border: 1px solid rgb(209, 18, 209);
}
.footer{
  position: fixed;
  bottom: 0;
  padding:20px;
  background-color: #0a192f;
  width:100%;
  color:#fff;
}
@media screen and (min-width:600px) {
  .add-cart-btn{
  position: absolute;
  bottom:0px;
  right:25%;
  }  
}
